
/logs
/local
/saves
/xaero
/modernfix
/downloads
/backups
/crash-reports

usercache.json
usernamecache.json
/config/jade/jade.json
/config/oculus.properties
/config/xaerominimap_entities.json
/config/sound_physics_remastered
/config/tacz
config/jei/ingredient-list-mod-sort-order.ini
config/jei/recipe-category-sort-order.ini
config/jei/world/local/quest_testing/bookmarks.ini
config/quark-common.toml
config/jecalculation/record.json
/screenshots
config/jei/world/local/silly_cats/bookmarks.ini
/config/jei/world
/config/jei/world
v
